<div>
  <% @posts.each do |post| %>
    <div class="mb-4 p-4 border rounded-3 shadow-sm w-100 d-flex flex-column justify-content-between">

      <!-- Informações do autor e data -->
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
          <h5 class="fw-semibold m-0"><%= post.blogger.fullname %></h5>
          <p class="text-muted small m-0">@<%= post.blogger.username %></p>
        </div>

        <!-- Ícones de data -->
        <div class="d-flex gap-2 align-items-center text-muted small">
          <% if post.edited? %>
            <% tooltip_edited = I18n.t("app.posts.updated_post_at", time: I18n.l(post.updated_at, format: :custom)) %>
            <i class="bi bi-marker-tip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= tooltip_edited %>"></i>
          <% end %>
          <% tooltip_created = I18n.t("app.posts.created_post_at", time: I18n.l(post.created_at, format: :custom)) %>
          <i class="bi bi-clock" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= tooltip_created %>"></i>
        </div>
      </div>
          <!-- Texto do post -->
          <div class="the-post p-3  rounded ">
            <p class="m-0"><%= post.text %></p>
          </div>
        </div>

  <% end %>
</div>








