
<span class="mx-1  ALTER  d-inline-flex align-items-center">
  <%= link_to edit_post_path, class: "edit-post-btn text-decoration-none  ALTER  d-flex align-items-center" do %>
    <i class="bi bi-pencil me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= I18n.t("app.posts.edit_post") %>"></i>
  <% end %>
  <%= button_to post_path(@post), method: :delete,
        data: { confirm: I18n.t("app.posts.confirm_delete") },
        class: "delete-post-btn text-decoration-none  ALTER  d-flex align-items-center",
        form: { style: "display: inline;" }  do %>
    <i class="bi bi-trash3 me-2 data-bs-toggle="tooltip" data-bs-placement="top" title="<%= I18n.t("app.posts.delete_post") %>""></i>
  <% end %>
</span>

<div class="text-end">
  <% if @post.edited? %>
    <span class="ms-2 edited-icon  ALTER  d-inline-flex align-items-center">
      <i class="bi bi-marker-tip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= I18n.t("app.posts.edited_post") %>"></i>
    </span>
  <% end %>
  <i class="bi bi-clock ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= I18n.l(@post.created_at, format: :custom) %>"></i>
</div>
