<span class="mx-1  d-flex gap-2  align-items-center">
  <%= link_to edit_post_path, class: "edit-post-btn text-decoration-none d-flex align-items-center" do %>
    <i class="bi bi-pencil mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= I18n.t("app.posts.edit_post") %>"></i>
  <% end %>
  <%= link_to delete_post_path, class: "delete-post-btn text-decoration-none d-flex align-items-center" do %>
    <i class="bi bi-trash3 mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= I18n.t("app.posts.delete_post") %>"></i>
  <% end %>

</span>

<div class="text-end">
  <% if @post.edited? %>
    <span class="mx-1 edited-icon d-inline-flex align-items-center">
      <i class="bi bi-marker-tip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= I18n.t("app.posts.edited_post") %>"></i>
    </span>
  <% end %>
  <i class="bi bi-clock mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= I18n.l(@post.created_at, format: :custom) %>"></i>
</div>




