<h1><%= I18n.t("mailers.greetings", name: @resource.fullname) %></h1>
<p><%= I18n.t("mailers.theres_been_a_request") %></p>
<p class="reset-password-link"><%= link_to I18n.t("mailers.change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= I18n.t("mailers.if_it_wasnt_you") %></p>
<p><%= I18n.t("mailers.information_about_password_change") %></p>
